---
---

@import "minima";

$primary-color:         white;
$off-white:             #f2eee4;
$background-green:      #287233;

/* SCSS overrides in assets/main.scss */

body {
    background-color:   $background-green;
    color:              $off-white;
}

.site-nav {
    background-color:   $background-green;
    color:              $off-white;
}

.site-nav .page-link {
    color:              $off-white;
}

.site-title, .site-title:visited {
    color:         $primary-color;
}

a:visited {
    color:         $primary-color;
}

.fa-twitter {
    color:          black;
}

p.p-justified {
    text-align: justify;
    text-justify: inter-word;
}

h2.footer-heading {
    display: none;
}

.footer-col > p {
    color:              $off-white;
}

.p-name {
    color:              $off-white;
}

li > a {
    color:         $primary-color;
}
